/* ----------- SECTION HOMEPAGE ---------------*/
nav {
    padding: 7vh;
}


.menu-btn {
    display : none;
}

.menu {
    all: initial;
}

.menu li {
    display: inline-block;
    margin-right: 2vh;
}

.menu li a {
    font-size: 2vw;
}

.page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    align-items: center;
}

.page .img {
    grid-row: 1 / span 2;
    margin-left: 5vw;
    width: 40vw;
    height: 40vw;
    margin-right: 3vw;
  }
.page h1 {
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
   
}
.page h2 {
    font-size: 4vw;
    text-align: left;
}

.page p {
    font-size: 8vw;
    font-family: var(--pixel-font);
    text-align: left;
}

.contact {
    height: 4.5rem;
    width: 11rem;
    border-radius: 5rem;
}

.contact a {
    font-size: 2vw;
}


/* ----------- SECTION EXPERIENCE ---------------*/

#sec-experience h3 {
    font-size: 5vw;
}

#indicator-container {
    display: none;
}

#card-container {
    justify-content: space-around;
}

.card p {
    width: 100%;
    font-size: 2.5vh;
}

.card {
    max-width: initial;
}

/* ----------- SECTION HOBBIES ---------------*/

.squareList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 0;
}


.square{
    width: 28vw ;
    height: 28vw;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: start;
    padding-top: 5vw;
}

section#hobbies p {
    font-size : initial;
}

div#getInTouch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    
}

div#getInTouch h3{
    font-size: 3vw;
    padding:0;
    flex: 5;
}

div#logos {
    flex: 3;
    padding: 0;
}

.logo{
    width: 3vw ;
    height: 3vw;
}