@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --first-theme-color: #AB433F;
    --secondary-color: #E7D7C1;
    --second-theme-color: #003D5B;
    --pixel-font: 'Press Start 2P', cursive;
    --second-font: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

title {
    font-family: 'Press Start 2P', cursive;
}
