@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --first-theme-color: #AB433F;
    --secondary-color: #E7D7C1;
    --second-theme-color: #003D5B;
    --pixel-font: 'Press Start 2P', cursive;
    --second-font: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;

}

/* -----------------------------------------------------STYLE DIV----------------------------------------------------- */

div#hobbies{
    background-color: var(--secondary-color);
    padding-bottom: 32px;
}

div#getInTouch{
    background-color: var(--first-theme-color);
}


/* -----------------------------------------------------STYLE TEXTES----------------------------------------------------- */
h3{
    font-family: 'Press Start 2P', cursive;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    padding-left: 50px;
    padding-top: 50px;
}

div#hobbies h3{
    color : var(--first-theme-color);
}

div#getInTouch h3{
    color : var(--secondary-color);
}

/* -----------------------------------------------------STYLE HOBBIES----------------------------------------------------- */

.squareList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin : auto;
    margin-top: 30px;

}

.square{
    width: 350px ;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}



/* -------------STYLE IMAGE FOOTBALL----------- */

.imageFootball{
background: url("sources/football.png");
background-size: auto 100%; 
color : transparent;
}


/* -------------STYLE IMAGE VIDEOGAME----------- */

.imageVideoGame{
    background: url("sources/videogames.png");
    background-size: auto 100%; 
    color : transparent;
    }
    
    
/* -------------STYLE IMAGE FISHING----------- */

.imageFishing{
    background: url("sources/fishing.png");
    background-size: auto 100%; 
    color : transparent;
    }

    
/* -------------STYLES TEXT-------------------- */
    .text{
        background: none;
        background-color: var(--first-theme-color);
        color : var(--secondary-color);
    }


    


/* -----------------------------------------------------STYLE GETINTOUCH----------------------------------------------------- */

ul#logos {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin : auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

