@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --first-theme-color: #AB433F;
    --secondary-color: #E7D7C1;
    --second-theme-color: #003D5B;
    --pixel-font: 'Press Start 2P', cursive;
    --second-font: 'Josefin Sans', sans-serif;
    font-family: var(--second-font)
}

.title {
    font-family: 'Press Start 2P', cursive;
}

#sec-experience {
    background-color: var(--first-theme-color);
    padding-left: 40px;
    padding-right: 40px;
}

#sec-experience h3 {
    color: var(--secondary-color);
    font-size: 32px;
    padding: 32px 0px 32px 0px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    width: 350px;
    height: 500px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 32px;
    padding: 16px;
}

.card h4 {
    color: var(--first-theme-color);
    font-family: 'Press Start 2P', cursive;
    width: 290px;
    margin: 8px auto 16px;
    display: flex;
    align-items: flex-end;
}

.card img {
    width: 290px;
    margin: 0 auto;
    border-radius: 20px;
}

.card p {
    font-size: 20px;
    color: var(--first-theme-color);
    width: 290px;
    margin: 16px auto;
    text-align: justify;
}