@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --first-theme-color: #AB433F;
    --secondary-color: #E7D7C1;
    --second-theme-color: #003D5B;
    --pixel-font: 'Press Start 2P', cursive;
    --second-font: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

title {
    font-family: 'Press Start 2P', cursive;
}





.about-me {
    background-color: var(--secondary-color);
    width: auto;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px 0 32px;
  }
  
  .about-me h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    text-align: left;
    margin-bottom: 16px;
    color: var(--first-theme-color);

  }
  
  .about-me .description {
    font-family: var(--second-font);
    color: var(--first-theme-color);
    text-align:justify;
    margin-top: 50px;
    line-height: normal;
    font-size: 20px;
    display: flex;
    

 }
  
  .about-me img {
    width: 100vw;
    height: auto;
  }
